body {
  background: #fddbfd;   /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #5da8be, #054457);   /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #5da8be, #054457);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans JP', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
